{% extends 'currency/base.html' %}

{% block title %}RATE LIST{% endblock title %}

{% block main_content %}
    <div><a href="/rate/create/">Create new rate</a></div>

    {% for rate in rate_list %}
        <div>ID: {{ rate.id }}, Sale: {{ rate.sale }}, Buy: {{ rate.buy }}
            <a href="/rate/details/{{ rate.id }}/">view details</a>
            <a href="/rate/update/{{ rate.id }}/">edit</a>
            <a href="/rate/delete/{{ rate.id }}/">delete</a>
        </div>
    {% endfor %}
{% endblock main_content %}
