{% extends 'currency/base.html' %}

{% load static %}

{% block title %}RATE LIST{% endblock title %}

{% block main_content %}
    <div>
        <a class="btn btn-primary"
           role="button"
           href="{% url 'currency:rate_create' %}">Create new rate</a>
        <a href="{% url 'currency:rate_download' %}" class="btn btn-success"
           role="button">Download CSV</a>
    </div>
    {#    <div>#}
    {#        <img src="{% static "img/Python.svg.png" %}" height="100" width="100">#}
    {#    </div>#}

    <form method="get">
        {{ filter.form.as_p }}
        <label for="id-page_size">Items per page</label>
        <select name="page_size" id="id-page_size">
            {% for page_size_option in page_size_options %}
                 <option value="{{ page_size_option }}"
                         {% if page_size == page_size_option %}selected{% endif %}>
                     {{ page_size_option }}
                 </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    <br>

    <div class="container mt-3">
        <h2>Rates List</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th><a href="{% url 'currency:rate_list' %}?{{ filters_params }}">Sale</a></th>
                <th>Buy</th>
                <th>Base Type</th>
                <th>Type</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for rate in rate_list %}
                <tr>
                    <td>{{ rate.id }}</td>
                    <td>{{ rate.sale }}</td>
                    <td>{{ rate.buy }}</td>
                    <td>{{ rate.get_base_currency_type_display }}</td>
                    <td>{{ rate.get_currency_type_display }}</td>
                    <td>{{ rate.source.name }}</td>
                    <td>
                        <a href="{% url 'currency:rate_details' rate.id %}">view details</a>
                        <a href="{% url 'currency:rate_update' pk=rate.id %}">edit</a>
                        <a href="{% url 'currency:rate_delete' rate.id %}">delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'parts/pagination.html' %}
{% endblock main_content %}
